## AniList
CLIENT_ID="16149"
CLIENT_SECRET="FJ28A5osaitK19tjJDoRNbqXc0qJljTEdtkU9Fok"
GRAPHQL_ENDPOINT="https://anilist.co/api/v2/oauth/pin"

## NextAuth
NEXTAUTH_SECRET='b/BBgsNhy4C9/vqdP9ixdrvIe06+zLNpijIeHNFklUk='
NEXTAUTH_URL="https://vercel.com/nyxians"

## NextJS
PROXY_URI="This is what I use for proxying video https://github.com/chaycee/M3U8Proxy. Don't put / at the end of the url."
API_URI="https://api-omega-rouge-38.vercel.app/"
DISQUS_SHORTNAME='NYXIAN'
# ADMIN_USERNAME="neogunner"

## Prisma
DATABASE_URL="Your postgresql connection url"

## Redis
#
REDIS_URL="redis-16284.c281.us-east-1-2.ec2.cloud.redislabs.com:16284"